
body, html {
    --clr-primary: rgb(0, 0, 0);
    --clr-light: rgb(228, 227, 227);
    --clr-dark: rgb(61, 59, 59);
    --clr-accent: rgb(47, 150, 21);
    --clr-page: rgb(241, 224, 167);
    height: 100%;
    margin: auto;
    padding: 0;
    width: 80%;
    background-color: var(--clr-light);
}
header, footer {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
}

h2 {
    font-size: 2rem;
}

a, a:visited {
    text-decoration: none;
    color:var(--clr-accent);
}
a:hover, a:focus{
    text-decoration: underline;
    color:var(--clr-light);
}


.header li {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    font-size: 1.2em;
    margin: 0;
}
header nav ul li:not(:last-child):after { 
    content: ' | ';
    color: var(--clr-light);
  }  

main {
    display:flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2.5rem;
    display: grid;
    background-color: var(--clr-page);
    padding: 1rem;
}

.sections {
    display: flex;
    
}

.section__primary {
    min-width: 50%;
    
}

.section__img {
    /* background-color: teal; */
}

.section__title{
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.img {
    max-width: 200px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: var(--clr-primary);
}
.left {
    margin-right:2rem;
}
.right {
    margin-left:2rem;
}

.main__text{
    margin-right: auto;
}